services:
  - type: web
    name: anowar-engineering-website
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn company_website.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
    plan: free

